<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    <mat-icon aria-label="reorder" (click)="drawer.toggle()" class="icon-color">reorder</mat-icon>
    <span class="toolbar-title">{{consoleName}}</span>
    <span class="toolbar-user" [matMenuTriggerFor]="menu">{{username}}</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openServiceDialog()">Service</button>
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Top</a>
      <a mat-list-item [routerLink]="['/']">Form</a>
      <a mat-list-item [routerLink]="['/']">Table</a>
      <a mat-list-item [routerLink]="['/']">Tree</a>
    </mat-nav-list>
  </mat-drawer>
  <div class="content-body">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
