<mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>
    <mat-icon aria-label="reorder" (click)="drawer.toggle()" class="icon-color">reorder</mat-icon>
    <span class="toolbar-title">GrantNZ Console</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Top</a>
      <a mat-list-item [routerLink]="['/']">Form</a>
      <a mat-list-item [routerLink]="['/']">Table</a>
      <a mat-list-item [routerLink]="['/']">Tree</a>
    </mat-nav-list>
  </mat-drawer>
  <router-outlet class="content-body"></router-outlet>
</mat-drawer-container>
